.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-top: 20px;
}

.dataContainer {
    margin-top: 10px;
}

.dataItem {
    margin: 5px 0;
    font-size: 16px;
}